listener:
  port: 10636
  sslEnabled: true
  keyStorePath: C:\Users\Van\sandbox\certs\fck.keystore
  keyStorePass: wilix1234

storage.user:
  cacheExpirationMinutes: 2
  userDirectAuthUri: https://staff.wilix.org/red/api/sso/authenticate
  appUserSearchUri: https://crm.wilix.org