listener:
  port: 10636
  sslEnabled: true
  keyStorePath: C:\Users\Van\sandbox\certs\fck.keystore
  keyStorePass: wilix1234

ldap:
  baseDn: 'dc=wilix,dc=dev'
  servicesBaseDn: 'ou=services,dc=wilix,dc=dev'
  usersBaseDn: 'ou=people,dc=wilix,dc=dev'
  groupsBaseDn: 'ou=groups,dc=wilix,dc=dev'
  userClassName: 'organizationalPerson'
  groupClassName: 'groupOfNames'
  mainNameAttribute: 'uid'
  searchCacheExpirationMinutes: 10

storage.user:
  cacheExpirationMinutes: 2
  baseUrl: https://crm.wilix.org