listener:
  port: 636
  # Указывает, требуется ли использование защищённого протокола (ldaps).
  sslEnabled: false
  # Путь к хранилищу ключей сертификатов.
  keyStorePath: \myPath\store.keystore
  # Пароль от хранилища.
  keyStorePass: password

ldap:
  # Base DN, используемый в поиске LDAP.
  baseDn: 'dc=example,dc=com'
  # Base DN сервисов.
  servicesBaseDn: 'ou=services,dc=example,dc=com'
  # Base DN пользователей.
  usersBaseDn: 'ou=people,dc=example,dc=com'
  # Base DN групп.
  groupsBaseDn: 'ou=groups,dc=example,dc=com'
  # Класс объекта аутентифицируемого пользователя.
  userClassName: 'organizationalPerson'
  # Класс объекта групп пользователей или групп безопасности.
  groupClassName: 'groupOfNames'
  # Имя главного атрибута имени пользователя. Оно будет использоваться в построении dn для записей.
  mainNameAttribute: 'uid'
  # Кеширование операций чтения пользователей и групп.
  # Происходит на уровне отдельного пользователя (для каждого пользователя свой набор сущностей).
  # Значение '0' отключает кеширование.
  searchCacheExpirationMinutes: 10

storage:
  # Тип используемого хранилища пользователей
  type: 'espo'
  espo.user:
    # Указывает, как долго данные хранятся в кэше (в минутах).
    cacheExpirationMinutes: 2
    # Url-адрес службы хранения пользователей.
    baseUrl: https://example.com